<html layout:decorator="layout/base">
	<section layout:fragment="content">	
		
		
      
  
	     <div th:if="${messages}">
			<div class="alert alert-success" role="alert" th:text="${messages}" >...</div>
		</div>


		
		
		
		
		<div  th:if="${! #sets.isEmpty(reminders)}">
		<h3> Reminders:</h3>

				
 	<ul th:each="r : ${reminders}"  class="list-group">
				<li class="list-group-item">
					<p th:text="${r.title}"></p>
					<p> Due on: <span th:text=" ${r.dueDate}"></span> </p>
					<p th:text="${r.content}"></p>
					<p>
						<a th:href="@{/user/edit_reminder/{id}(id=${r.id})}" class="glyphicon glyphicon-pencil" ></a>
						<a th:href="@{/user/delete_reminder/{id}(id=${r.id})}"  class="glyphicon glyphicon-trash"></a>
					</p>
				</li>	
	   </ul>  
</div>


		
	</section>
</html>