<html layout:decorator="layout/base">
	<section layout:fragment="content">		
		<form  class="form-horizontal" th:action="@{/user/login}"  method="post">
		<div th:if="${messages}">
			<div class="alert alert-success" role="alert" th:text="${messages}" >...</div>
		</div>
			<fieldset>
			
			<h3> Log In:</h3>
			<label for="username"  class="control-label">Username</label>
			<input type="text" name="username" class="form-control"></input>
			<label for="password"  class="control-label">Password</label>
			<input type="password" name="password" class="form-control"></input>
		    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
			
			<input class="btn btn-primary" type="submit" value="Sign In"/>
			</fieldset>
		</form>
		
			
	</section>
</html>